<div class="container-fluid margeTop">
	<div class="row justify-content-center">
		<div class="col-md-2">
			<button mat-raised-button color="primary" (click)="initFenetreDialogue()">Fenetre de dialogue</button>
		</div>
		<div class="col-md-2">
			<a mat-raised-button color="primary" [routerLink]="['/ajouter-personnage']">Ajouter un personnage</a>
		</div>
	</div>

	<div class="row margeTop ">
		<div class="col-lg-4 Carte" *ngFor="let item of personnagesList">
			<app-carte-personnage [personnageData]="item">
			</app-carte-personnage>
		</div>	
	</div>

</div>